@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Delete Question</h1>

<form method="post">
    @foreach (var qst in ViewBag.questions)
    {
        <div class="form-group">
            <label>
                <span>@qst.Name</span>
                <input type="checkbox" name="questionIds" value="@qst.Id"/>
            </label>
        </div>
    }
    <input type="submit" value="Delete selected Questions" class="btn btn-danger" />
</form>
