@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Questions</h1>
<p>
    <a asp-controller="Questions" asp-action="Add">Add a Question</a>
</p>
<ul>
    @if(ViewBag.questions.Count == 0)
    {
        <p>No Questions Yet!</p>
    }
    @foreach(string q in ViewBag.questions)
    {
        <li>@q</li>
    }
</ul>
