@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Questions</h1>
<p>
    <a asp-controller="Questions" asp-action="Add">Add a Question</a>
</p>
<ul>
    @if(ViewBag.questions.Count == 0)
    {
        <p>No Questions Yet!</p>
    }
    
    
       <table class="table">
           <tr>
               <th>Id</th>
               <th>Question</th>
                <th>Answer</th>
            </tr>
        @foreach (var qst in ViewBag.questions)
         {   <tr>
               <td>@qst.Id</td>
             
            <td>@qst.Name</td>
          
            <td>@qst.Answer</td>
        </tr>
         }  
        </table>
    
</ul>
